.App-logo {
    margin-top: 10px;
    height: 120px;
    margin-left: 10px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 500px) {
    .App-logo {
        height: 50px;
    }
}

#load {
    /* background-image: url("img/Earth_Background.mp4"); */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#loagimg {
    background-image: url("./img/bg.png");
    position: fixed;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}